<div class="cookiesWarning mat-elevation-z5" @cookiesSlide>
  <div class="cookiesWarning__text">
    <span>
      Ta strona wykorzystuje pliki cookies w celu autoryzacji użytkowników oraz przechowywania danych umożliwiających
      działanie offline.
      Więcej informacji na temat plików cookies znajdziesz w naszej <a [routerLink]="['/cookies']">Polityce Cookies</a>
    </span>
  </div>
  <div class="cookiesWarning__actions">
    <button mat-flat-button color="primary">
      Akceptuj
    </button>
  </div>
</div>