<div id="card">
  <div id="card__div-header">
    <span id="card__header__span-text">
      {{category.name}}
    </span>
  </div>
  <div id="card__div-icon">
    <i class="material-icons">{{category.materialIconName}}</i>
  </div>
  <div id="card__div-actions">
    <button matRipple class="card__actions-button" routerLink="/fiche" [queryParams]="{categoryId: category.id}">
      Fiszki
    </button>
    <button matRipple class="card__actions-button" routerLink="/quiz" [queryParams]="{categoryId: category.id}">
      Quiz
    </button>
  </div>
</div>