#header__toolbar-logo{
  width:100px;
  height: auto;
  cursor: pointer;
}

#header__toolbar-user{
  height: 40px;
  width: auto;
}

header{
  z-index: 1;
}

mat-toolbar{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

::ng-deep .mat-menu-content{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.menu__button_logout{
  background-color: rgb(255,0,0,0.10)
}

@media only screen and (max-width: 600px) {
  #header__toolbar-user {
    display: none;
  }

  mat-toolbar{
  justify-content: center;
  }
}