@import "../../../../../../../variables.scss";

path, line, circle, rect{
  fill: none;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
}

svg{
  opacity: 0.35;
  z-index:auto;
  position: fixed;
  top:var(--positionX);
  left:var(--positionY);
  transform: rotate(var(--rotate));

  animation-name: scaleAnimationDesktop;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scaleAnimationDesktop{
  from{
    transform: scale(calc(1.5 - var(--scaleThreshold))) rotate(var(--rotate));
  }
  to{
    transform: scale(calc(1 + var(--scaleThreshold))) rotate(var(--rotate));
  }
}

// added multiply by 0.35 on scale
@keyframes scaleAnimationMobile{
  from{
    transform: scale(calc((1.5 - var(--scaleThreshold)) * 0.35)) rotate(var(--rotate));
  }
  to{
    transform: scale(calc((1 + var(--scaleThreshold)) * 0.35)) rotate(var(--rotate));
  }
}

@media (max-width: 414px) {
  svg{
    animation-name: scaleAnimationMobile;
  }
}



