<div class="card">
  <div class="card__question">
    <div class="question__info">
      <app-quiz-progress class="info__progress"></app-quiz-progress>
      <app-quiz-timer class="info__timer"></app-quiz-timer>
    </div>
    <div class="question__description">
      <span class="description__text">
        {{translationService.extractTextFromTranslationInLanguage(quizQuestion.questionTranslation, 'EN')}}
      </span>
    </div>

    <!-- TODO add handling of quiz end -->
    <!-- <span *ngIf="quizEnd" class="question__summary">
      <span *ngIf="correctAnswers / translationsAmount < 0.5" class="summary__mark">
        Słabiutko😔
      </span>
      <span *ngIf="correctAnswers / translationsAmount >= 0.5 && correctAnswers / translationsAmount < 0.75"
        class="summary__mark">
        Całkiem nieźle👌
      </span>
      <span *ngIf="correctAnswers / translationsAmount >= 0.75" class="summary__mark">
        Brawo!😃
      </span>
      <br />

      <span class="summary__amount">
        {{correctAnswers}}/{{translationsAmount}}
      </span>

      <br />
      <span class="amount__desc">
        Poprawnych odpowiedzi
      </span>

    </span> -->
  </div>

  <div class="card__options">
    <div class="options__grid">
      <button matRipple *ngFor="let answer of answers; let i = index" class="options__button animated"
        (click)="checkAnswer(answer)" [class.options__button--correct]="answer.id === correctAnswerId"
        [class.tada]="answer.id === correctAnswerId && answeredCorrect"
        [ngClass]="{'options__button--wrong shake' : !answeredCorrect && selectedAnswerId === answer.id}"
        [disabled]="afterAnswer">

        {{translationService.extractTextFromTranslationInLanguage(answer.translations, 'PL')}}
      </button>
    </div>


    <!-- TODO add handling of quiz end -->
    <!-- <button matRipple class="options__back" routerLink="/main" *ngIf="quizEnd">
      Powrót
    </button> -->
  </div>