@import "../../../../../variables.scss";


.card{
  width:500px;
  height:auto;
  background: linear-gradient(172deg, rgba(63,81,181,1) 45%, rgba(248,160,252,1) 130%);
  border-radius: 30px;
  color:white;
  padding: 0;
  overflow: hidden;
  transition: height;
  justify-self: center;
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 3fr auto;
  grid-template-areas:"left actions right"
                      "left translation right"
                      "left meaning right";
}

.card__navigation{
  display: flex;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
  border-radius: 0;
  mat-icon{
    transform: scale(2.5);
  }
}

.card__navigation--right{
  float:right;
  grid-area: right;
}

.card__navigation--left{
  grid-area: left;
}

.card__mainContent{
  height:100%;
  margin:0;
}

.card__actions{
  width:100%;
  display:flex;
  justify-content: space-between;
  color:whitesmoke;
  grid-area: actions;
}

.card__mainContent{
  display:flex;
  height: 110px;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:2rem;
  font-weight: 500;
  grid-area: translation;
}

.mainContent__meaning{
  height: 0px;
  overflow: hidden;
  display:flex;
  align-items:center;
  transition: all 500ms;
  grid-area: meaning;
}

.mainContent__translation--PL{
  font-size: 1.25rem;
  font-weight: 400;
  color: #bebebe
}

.card__navigation:hover{
  cursor: pointer;
  background-color: #00000021;
}

@media (max-width: 414px){
  .card{
    width: 90%;
    margin:auto;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas:  "translation"
                          "meaning";
  }

  .card__navigation--left, .card__navigation--right, .card__actions{
    display: none;
  }
}

@keyframes swipeOutLeft{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100vw);
  }
}

@keyframes swipeOutRight{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100vw);
  }
}

@keyframes swipeInLeft{
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0vw);
  }
}

@keyframes swipeInRight{
  0%{
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0vw);
  }
}

