#container{
  height:60%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

app-category-card{
  margin:10px;
}

@media (max-width: 414px){
  #container{
    height:80%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}