.router__content__container{
  overflow: hidden;
}

#gesturesInfo{
  position: absolute;
  bottom: 10%;
  background-color:rgba(247, 160, 252, 0.288);
  color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
  padding: 10px 20px 10px 20px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

.fadeHide{
  animation: fade-out 1s !important;
  animation-fill-mode: forwards !important;
}

@keyframes blink{
  0%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
    display: inline;
  }
  100%{
    opacity: 0;
    display: none;
  }
}