.wrapper__info {
  background-color: #f9f9f9;
}

.info__header{
  display: none;
}

.wrapper__challenges{
  margin-top:20px;
  padding: 20px 40px;
}

  .challenges__subheader{
    font-size: small;
    opacity: 0.75;
  }

@media (max-width: 414px){
  h1, .challenges__subheader{
    text-align: center;
  }

  .wrapper__challenges{
    margin-top:20px;
    padding: 10px 20px;
  }
}