<header class="header">
  <mat-toolbar class="header__toolbar" color="primary">
    <button mat-icon-button alt="Wyloguj" (click)="back()" class="toolbar__mobileLogout mobileOnly">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
    </button>

    <img src="assets/img/sayIt logo.png" alt="SayIt" class="toolbar__logo" routerLink="/main">

    <!-- need to put user image in wrapper because border radius is cutting the badge -->
    <div class="toolbar__userWrapper" [matBadge]="level" matBadgeColor="accent" matBadgePosition="below before">
      <img src="assets//img/user.png" alt="UserImg" class="userWrapper__image rounded-circle mobileHide"
        [matMenuTriggerFor]="userMenu">
    </div>

    <button mat-icon-button alt="Wyloguj" (click)="logout()" color="warn" class="toolbar__mobileLogout mobileOnly">
      <mat-icon>
        logout
      </mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="user">
      <mat-icon>
        person
      </mat-icon>
      Panel użytkownika
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
      Wyloguj
    </button>
  </mat-menu>
</header>