.toolbar__logo{
  width:100px;
  height: auto;
  cursor: pointer;
}

.userWrapper__image{
  height: 40px;
  width: auto;
  position: relative;
}

.userWrapper__progress{
  position: absolute;
  top:0;
  left: 0;
}

.header__toolbar{
  z-index: 1;
}

mat-toolbar{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

@media (max-width: 414px) {
  mat-toolbar{
    justify-content: space-between;
    position: relative;
  }
}