<header class="header">
  <mat-toolbar class="header__toolbar" color="primary">
    <button mat-icon-button alt="Wyloguj" (click)="back()" class="toolbar__mobileLogout mobileOnly">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
    </button>

    <img src="assets/img/sayIt logo.png" alt="SayIt" class="toolbar__logo" routerLink="/main">

    <!-- need to put user image in wrapper because border radius is cutting the badge -->
    <div class="toolbar__userWrapper" [matBadge]="progress?.current?.levelNo" matBadgeColor="accent"
      matBadgePosition="below before">
      <img src="assets//img/user.png" alt="UserImg" class="userWrapper__image rounded-circle">

      <mat-progress-spinner class="userWrapper__progress" color="accent" mode="determinate" diameter="41"
        [matMenuTriggerFor]="userMenu"
        [matTooltip]="'do następnego poziomu pozostało ' + (progress?.predicted?.totalLearningDays - progress?.current?.totalLearningDays) + ' dni'"
        [value]="(progress?.current?.totalLearningDays / progress?.predicted?.totalLearningDays) * 100">
      </mat-progress-spinner>
    </div>
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="user">
      <mat-icon>
        person
      </mat-icon>
      Panel użytkownika
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
      Wyloguj
    </button>
  </mat-menu>
</header>