@import "../../../../../variables.scss";


#container{
  width:500px;
  height:auto;
  background: linear-gradient(172deg, rgba(63,81,181,1) 45%, rgba(248,160,252,1) 130%);
  border-radius: 30px;
  color:white;
  padding: 0;
  overflow: hidden;
  transition: height;
  display:grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 3fr auto;
  grid-template-areas:"left actions right"
                      "left translation right"
                      "left meaning right";
}

.row{
  height: 100%;
}

.container__navigation-div, .container__navigation-spacer{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
  .material-icons{
    font-size: 4rem;
  }
}

#container__navigation-right{
  float:right;
  grid-area: right;
}

#container__navigation-left{
  grid-area: left;
}

#container__mainContent{
  height:100%;
  margin:0;
}

#container__mainContent__actions-div{
  width:100%;
  display:flex;
  justify-content: space-between;
  color:whitesmoke;
  grid-area: actions;
}

#container__mainContent__translation-div{
  display:flex;
  height: 110px;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:2rem;
  font-weight: 500;
  grid-area: translation;
}

#container__mainContent__meaning-div{
  height: 0px;
  overflow: hidden;
  display:flex;
  align-items:center;
  transition: all 500ms;
  grid-area: meaning;
}

#container__mainContent__translation-PL{
  font-size: 1.25rem;
  font-weight: 400;
  color: #bebebe
}

.container__navigation-div:hover{
  cursor: pointer;
  background-color: #00000021;
}