@import "../../../../../variables.scss";

.wrapper{
  height:calc(100% - #{$headerHeight});
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__carousel{
  width:100%;
}

.carousel__cardWrap{
  display: flex;
  justify-content: center;
}

.cardWrap__card{
  width:500px;
}