@import "../../../../variables.scss";

path, line, circle, rect{
  fill: none;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
}


svg{
  opacity: 0.35;
  z-index:auto;
  position: fixed;
  top:var(--positionX);
  left:var(--positionY);
  transform: rotate(var(--rotate));

  animation-name: scaleAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scaleAnimation{
  from{
    transfrom: scale(calc(1 - var(--scaleThreshold))) rotate(var(--rotate));
  }
  to{
    transform: scale(calc(1 + var(--scaleThreshold))) rotate(var(--rotate));
  }
}



