<div class="categoryCard">
  <h1 class="categoryCard__header">
    <span class="header__span">
      {{category.name}}
    </span>
  </h1>
  <section class="categoryCard__iconSection">
    <mat-icon class="iconSection__icon" aria-label="category icon">
      {{category.materialIconName ? category.materialIconName : fallbackMaterialIcon}}
    </mat-icon>
  </section>
  <section class="categoryCard__actions">
    <button matRipple class="actions__button" routerLink="/flashcards" [queryParams]="{category: category.id}">
      Fiszki
    </button>
    <button matRipple class="actions__button" routerLink="/quiz" [queryParams]="{category: category.id}">
      Quiz
    </button>
  </section>
</div>